{% extends "base.html.twig" %}
{% block title %} SDetails {% endblock %}
{% block body %}

    {{ message }}
    <h1>{{ auction.desctiption }}</h2>
    <p> Kup teraz: {{ auction.price }}</p>
    <span> Cena wyjściowa: {{ auction.startingPrice }} </span>
    <span> Aukcja kończy się: {{ auction.expires | date("d-m-Y") }} </span>

    <a href="{{ url("auction_index") }}">Strona główna</a>
    {#<a href="{{ url("auction_delete" , {"id": auction.id}) }}">Usuń</a>#}
    {{ form(deleteForm) }}
{% endblock %}