{% extends "base.html.twig" %}

{% block title %} Strona Główna {% endblock %}

{% block body %} 

    {% for auction in auctions %}
        <h1> <a href="{{ url('auction_detail', {"id":auction.id}) }}">{{ auction.title }} </a></h1>
        <span class="heading"> {{ auction.price }}</span>
        <p> {{ auction.desctiption }} </p> 
        <span> {{ auction.startingPrice }} </span>
        <span> {{ auction.expires | date("Y-m-d H:m:s") }}

        {% else %}
            <h1> Nie mam tutaj nic do wyswietlenia</h1>
        {% endfor %}

        <div class="add">
            <a href="{{url('auction_add')}}"> Dodaj auto </a>
        </div>
    {% endblock %}

    {% block stylesheets %}
        <style>
            .heading {
                color:red;
            }
        </style>
    {% endblock %}    
